<html>
<head>
  <!--
===============================================================================

Project      : Sam Marbles & Granites
Domain       : https://sam-marbles.in
Client       : Dr. C. M. Victor Emmanuel
Developed By : Premanandhan Narayanan
Technology   : HTML5 | CSS3 | JavaScript
Repository   : sam-marbles-granites

===============================================================================
-->

<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>
Sam Marbles & Granites | Premium Marbles & Granites in Kolathur, Chennai
</title>

<meta name="description"
content="Sam Marbles & Granites is one of Chennai's trusted destinations for premium marbles, granites and natural stones. Serving customers for more than 20 years from Kolathur, Chennai.">

<meta name="keywords"
content="Marble Shop Kolathur,
Granite Shop Kolathur,
Marbles Chennai,
Granites Chennai,
Imported Marble Chennai,
Natural Stone Chennai,
Best Marble Shop Kolathur,
Granite Dealer Chennai,
Sam Marbles & Granites">

<meta name="author"
content="Premanandhan Narayanan">

<meta name="robots"
content="index,follow">

<link rel="canonical"
href="https://sam-marbles.in/">


<!--========================
OPEN GRAPH
=========================-->

<meta property="og:title"
content="Sam Marbles & Granites">

<meta property="og:description"
content="Premium Marbles, Granites and Natural Stone Solutions in Kolathur, Chennai.">

<meta property="og:image"
content="images/hero-home.jpg">

<meta property="og:url"
content="https://sam-marbles.in">

<meta property="og:type"
content="website">


<!--========================
TWITTER
=========================-->

<meta name="twitter:card"
content="summary_large_image">

<meta name="twitter:title"
content="Sam Marbles & Granites">

<meta name="twitter:description"
content="Premium Marbles & Granites in Chennai">

<meta name="twitter:image"
content="images/hero-home.jpg">


<!--========================
PWA
=========================-->

<link rel="manifest"
href="manifest.json">

<meta name="theme-color"
content="#0b2341">


<!--========================
FAVICON
=========================-->

<link rel="icon"
href="favicon/favicon.ico">


<!--========================
GOOGLE FONTS
=========================-->

<link rel="preconnect"
href="https://fonts.googleapis.com">

<link rel="preconnect"
href="https://fonts.gstatic.com"
crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@300;400;500;600&display=swap"
rel="stylesheet">


<!--========================
FONT AWESOME
=========================-->

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">


<!--========================
CSS
=========================-->

<link rel="stylesheet"
href="css/mobile.css">

<link rel="stylesheet"
href="css/desktop.css">

<link rel="stylesheet"
href="css/template.css">
 

</head>
<body>
 <!-- Navigation bar for Mobile Phones -->
    <header class="mobile-topbar">

    <a href="index.html">
        <img src="images/logo.png"
             alt="Sam Marbles and Granites"
             class="logo">
    </a>
    <div class="menu-wrapper" id="menuWrapper">
    

  <nav class="mobile-menu" id="mobileMenu">

    <ul>

        <li><a href="index.html">Home</a></li>

        <li><a href="about.html">About</a></li>

        <li><a href="service.html">Playlist</a></li>

        <li><a href="products.html">Playlist</a></li>
       
        <li><a href="contact.html">Contact</a></li>

    </ul>

</nav>

    </div>

    <button class="menu-toggle">

        ☰

    </button>

</header>


<!-- Navigation bar for Desktop and Laptops -->    
<header class="desktop-topbar">

        <a href="index.html">
        <img src="images/logo.png"
             alt="Divine Connectionz"
             class="logo">
        </a>

      <!-- Desktop Menu -->
    <nav class="desktop-menu">

    <ul>

        <li><a href="index.html">Home</a></li>

        <li><a href="about.html">About</a></li>

        <li><a href="service.html">Playlist</a></li>

        <li><a href="products.html">Playlist</a></li>
       
        <li><a href="contact.html">Contact</a></li>

    </ul>

    </nav>

    <!-- Hamburger -->
    <button class="menu-toggle">

        ☰

    </button>

</header>
   

<section class="hero">

    <img src="images/banner.png"
         alt="Sam Marbles and Granites Banner">

</section>

   <main>







  <h2 align=center>UNDER CONSTRUCTION</h2>





       

    </main>

  <footer>
    <div class="footer-container">
	    <p>&copy; 2026-2027 Sam Marbles and Granites</p>
    </div>
</footer>

<script src="js/mobile.js"></script>
<script type="application/ld+json">
{
  "@context":"https://schema.org",
  "@type":"WebSite",
  "name":"Sam Marbles and Granites",
  "url":"https://www.sam-marbles.in",
  "description":"Sam Marbles & Granites is one of Chennai's trusted destinations for premium marbles, granites and natural stones. Serving customers for more than 20 years from Kolathur, Chennai.",
  "author":{
    "@type":"Person",
    "name":"Dr. Victor Emmanuel"
  },
  "publisher":{
    "@type":"Organization",
    "name":"Sam Marbles and Granites"
  },
  "keywords":[
    "Sam Marbles & Granites",
    "Dr Victor Emmanuel",
    "Marbles",
    "Granites",
    "Tiles",
    "Kitchen Interiors"
  ]
}
</script>

</body>
</html>  
